flows_mbp.local.json
[{"id":"558819b1718d6368","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"9044cbb785db9bfe","type":"tab","label":"フロー 1","disabled":false,"info":"","env":[]},{"id":"75e0323889e07043","type":"tab","label":"フロー 2","disabled":false,"info":"","env":[]},{"id":"0a143a229bcfa797","type":"tab","label":"フロー 3","disabled":false,"info":"","env":[]},{"id":"2c0721dd4e6e7a7c","type":"inject","z":"558819b1718d6368","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["44ba65abaa342791"]]},{"id":"44ba65abaa342791","type":"debug","z":"558819b1718d6368","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":180,"wires":[]},{"id":"7a5738bd85746a04","type":"inject","z":"9044cbb785db9bfe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"こんにちは","payloadType":"str","x":140,"y":120,"wires":[["608afabcdf05f4f3"]]},{"id":"608afabcdf05f4f3","type":"debug","z":"9044cbb785db9bfe","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":120,"wires":[]},{"id":"957b346a7c01e399","type":"http in","z":"9044cbb785db9bfe","name":"test","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":110,"y":280,"wires":[["c369ffc878ccbc91"]]},{"id":"4dd9abb692f6d67b","type":"http response","z":"9044cbb785db9bfe","name":"","statusCode":"","headers":{},"x":490,"y":280,"wires":[]},{"id":"c369ffc878ccbc91","type":"template","z":"9044cbb785db9bfe","name":"こんにちは","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html><body><h1>こんにちは</h1></body></html>","output":"str","x":270,"y":280,"wires":[["4dd9abb692f6d67b"]]}]